//- head.jade
//- This file provides the HTML head part

head
  title Event Detection Application for Streaming Analytics Service
  meta(http-equiv="refresh", content="20")
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="stylesheet", href="/stylesheets/style.css")

