toolkit.xml

*.pyc
doc
full-catalog.json
_site
/General/SensorMonitor/etc/messagehub.json
/.project

/.DS_Store
**/output/
**/.apt_generated/

ConsistentRegions/NonBlockingCheckpoint/etc/config
ConsistentRegions/NonBlockingCheckpoint/test/test.spl

ConsistentRegions/OddEven/etc/config
ConsistentRegions/OddEven/Main.spl

Examples-for-beginners/007_split_at_work/etc/config
Examples-for-beginners/007_split_at_work/sample/split_at_work.spl

Examples-for-beginners/031_spl_mixed_mode_at_work/etc/config
Examples-for-beginners/031_spl_mixed_mode_at_work/my.sample/Main.spl

Examples-for-beginners/032_native_function_at_work/032_native_function_at_work/impl/lib/*

Examples-for-beginners/035_c++_primitive_operator_at_work/directory.lister/DirectoryLister/*.pm

Examples-for-beginners/041_real_time_streams_merger/real.time.merger/OrderedMerger/*cpp.pm
Examples-for-beginners/041_real_time_streams_merger/real.time.merger/OrderedMerger/*h.pm

Examples-for-beginners/048_source_operator_with_control_port/source_op_with_control_port/MyOp/*.pm

Examples-for-beginners/050_recursive_dir_scan/050_recursive_dir_scan/impl/lib/*
Examples-for-beginners/051_native_functions_with_collection_types/051_native_functions_with_collection_types/impl/lib/*

Examples-for-beginners/059_dynamic_scaleout_of_streams_application/com.ibm.streams.pricing/Pricer.spl
Examples-for-beginners/059_dynamic_scaleout_of_streams_application/com.ibm.streams.pricing.test/DynamicScaleOut.spl
Examples-for-beginners/059_dynamic_scaleout_of_streams_application/etc/config

Examples-for-beginners/060_simple_pe_failover_technique_at_work/com.acme.failover.test/simple_pe_failover_technique_at_work.spl
Examples-for-beginners/060_simple_pe_failover_technique_at_work/etc/config


Examples-for-beginners/049_json_to_tuple_to_json_using_java/com.ibm.streamsx.json/**/*.xml

**/*_cpp.pm
**/*_h.pm
