<!DOCTYPE html>
<html lang="en" ng-app="catalogApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="./static/img/favicon.png" />
  <title>IBM Streams Samples</title>
  <meta name="description" content="Searchable catalog for IBM Streams sample applications. Includes samples for Python, IBM Cloud, Edgent, and more." />
  <meta name="keywords" content="Streams code Samples, sample code, IoT samples, IBM Cloud Samples" />
  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/74dfc6cf47.css">
  <link rel="stylesheet" href="./static/css/bootstrap.css">
  <link rel="stylesheet" href="./static/css/main.css">

</head>

<body  id="top" class="home overflow-hidden" ng-controller="MainController" ng-cloak>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDPHZL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div class="header-panel shadow-z-2">
      <div class="social-icons">
        <a class="icon" target="_blank" title="Streams Cloud Pak for Data Community" href="https://ibm.biz/streams-community"><img title="Streams Community" src="./static/icons/group.svg" width="32" height="32" /></a>
        <a class= "icon" href="#bottomrow"><img  class="logo-icon" title="Useful links" src="./static/img/arrow.svg" /></a>

</div><h1>IBM Streams Samples Catalog</h1>
      </div>




    <div class="header-panel shadow-z-2-filter">
      <div class="page-container">
        <div class="filter-row">
          <div class="fil">
            <form role="search">
              <div class="form-group search-input">
                <input type="text"
                class="form-control" placeholder="Search"
                ng-model="searchText" autofocus id="searchTextF"/>
              </div>
            </form>
          </div>

          <div class="ser filter" >
            <form role="search">
              <div class="filterButton" id="filterButton">
                <span> Filter </span>
                <svg class="filter-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 16.8 13.9" enable-background="new 0 0 16.8 13.9" xml:space="preserve">
                <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#3D70B2" points="4,0 0,4.6 2.7,4.6 2.7,13.9 5.3,13.9 5.3,4.6 8,4.6 "/>
                <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#3D70B2" points="12.8,13.9 16.8,9.2 14.1,9.2 14.1,0 11.4,0 11.4,9.2
                8.8,9.2 "/>
              </svg>
            </div>
        </form>
      </div>

    </div>
  </div>
</div>



<div class="page-container">
  <div class="dropdown" id="filterDropdown">
    <div class="inside filter-category">
      <span class="filter-text">Languages:</span><br/>
      <div class="language search-body">
        <table>
          <tr>
          <td>
            <button type="button" data-track-action="Filter" data-track-label="SPL" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('SPL', true)">SPL</button>
            <button type="button" data-track-action="Filter" data-track-label="Java" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('Java', true)">Java</button>
            <button type="button" data-track-action="Filter" data-track-label="Python" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('Python', true)">Python</button>

            <button type="button" data-track-action="Filter" data-track-label="C++" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('C++', true)">C++</button>
            <!--button type="button" data-track-action="Filter" data-track-label="Scala" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('Scala', true)">Scala</button-->

          </td></tr>
        </table>
      </div>
    </div>
  <!--  <div class="inside filter-category">
      <span class="filter-text">Services/Integration points:</span><br/>
      <div class="service-filter search-body">
        <table>
          <tr>
          <td>  <button type="button" data-track-action="Filter" data-track-label="Bluemix" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('Bluemix', true)">Bluemix</button>
            <button type="button" data-track-action="Filter" data-track-label="DSX" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('DSX', true)">DSX</button>
            <button type="button" data-track-action="Filter" data-track-label="Edgent" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('Edgent', true)">Edgent</button>
            </td>
          </tr>

        </table>
      </div>
    </div>
-->
    <div class="inside">
      <span class="filter-text">Categories:</span>
      <div class="category search-body">
        <table>
          <tr>

              <button type="button" data-track-action="Filter" data-track-label="1" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('1', true)">Beginner/General</button>
            <button type="button" data-track-action="Filter" data-track-label="2" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('2', true)">Ingest and Store Data</button>
            <button type="button" data-track-action="Filter" data-track-label="3" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('3', true)">Tips</button>
            <button type="button" data-track-action="Filter" data-track-label="4" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('4', true)">Monitoring</button>
            <button type="button" data-track-action="Filter" data-track-label="6" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('6', true)">Correlate and Merge Streams</button>
            <button type="button" data-track-action="Filter" data-track-label="5" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('5', true)">Performance</button>
            <button type="button" data-track-action="Filter" data-track-label="7" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('7', true)">Analyze and Classify Data</button>
           <button type="button" data-track-action="Filter" data-track-label="8" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('8', true)">Best Practices</button>
            <button type="button" data-track-action="Filter" data-track-label="9" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('9', true)">Collections and Data Types</button>
            <button type="button" data-track-action="Filter" data-track-label="10" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('10', true)">Operators and Functions</button>
            <button type="button" data-track-action="Filter" data-track-label="11" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('11', true)">Consistent Regions</button>



          </tr>
        </table>
      </div>
    </div>

    <!---div class="inside filter-category">
      <span class="filter-text">Sample type:</span><br/>
      <div class="type-filter search-body">
        <table>
          <tr>
          <td>            <button type="button" data-track-action="Filter" data-track-label="Full" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('Full', true)">End to End application</button>
  <button type="button" data-track-action="Filter" data-track-label="Basic" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('Basic', true)">Basic</button>
            <button type="button" data-track-action="Filter" data-track-label="Bluemix" class="tagFilter btn btn-sm" data-toggle="button" ng-click="toggleTagConfiguration('Bluemix', true)">Ready to deploy</button>
            </td>
          </tr>

        </table>
      </div>
    </div>-->

  </div>
</div>





<div class="page-container main outer">
  <meta name="keywords" content="Testing">
  <div class="TotHome">
    Total of <b>{{links.length}}</b> code samples found</span> <span ng-if="filteredLinks.length != links.length">, <b>{{filteredLinks.length}}</b> and code samples matching the search/filter criteria.</span>
  </div>

  <ul class="items-wrapper" id="itemsList"><!-- START FULL PAGE -->

    <li class="inside project-item" ng-repeat-start="link in (filteredLinks = (links| filter: {tags: searchText} | filterPanel:filterConfiguration))">
      <div class="project-outer">
        <div class="link-title">
          <a data-track-action="link-title" data-track-label="{{link.urlLink}}"  href="{{link.url}}" target="_blank" data-track-action="Select" data-track-label="{{service.entity.label}}">{{link.name}}</a>
        </div>

        <div class="project-content description">
          <span ng-bind-html="link.description"></span><!-- <span  ng-if="link.featured" > <img  src="static/img/feat.png"/></span>-->
        </div>

        <div  class="project-content tag-group">


          <div class="tag-holder">
            <span class="FirSpanLeft">LANGUAGES: </span>
           <span ng-repeat="item in link.language">
              <span class="tag-filter language ">{{item || '&nbsp;'}}</span>
            </span>
        </div>

          <span class="FirSpanLeft">CATEGORIES: </span>
          <div class="tag-holder">
            <span ng-repeat="item in link.category">
            <span  class="tag-filter category" ng-repeat="c in getCat(item)">-{{c}}&nbsp;</span><br/>
          </span>
          </div>

<!--
           <span class="FirSpanLeft">CATEGORY: </span>
          <div class="tag-holder">
            <span class="tag-filter category">{{link.category || '&nbsp;'}}</span>
          </div>
-->


        </div>
      </div>

      <div class="tag-level">
        <span ng-show="link.zip" class="project-link">
          <a  ng-href="{{link.zip}}" class="hrefLink" target="_blank">Download zip</a>
        </span>
        <span ng-show="{{ (link.blogPost && link.blogPost !== '')}}" class="project-link">
          <a data-track-action="link-blog" data-track-label="{{link.blogPost}}" href="{{link.blogPost}}" class="hrefLink" target="_blank">Blog Post</a>
        </span>
        <span ng-show="{{link.sabFile  && link.sabFile !== ''}}" class="project-link">
          <a data-track-action="link-demo" data-track-label="{{link.sabFile}}" href="{{link.sabFile}}" class="hrefLink" target="_blank">Download .sab file</a>
        </span>
      </div>

    </li>
    <div ng-repeat-end=""></div>

  </ul>




  <div id="bottomrow" >
    <div class="col-md-12 col-xs-12 footer">

        <table style="width: 100%; text-align: left; "><tr>

        <td style="width: 50%; vertical-align: top">
        <h3>Learn more</h3>
          <a  href="https://github.com/IBMStreams/samples"> Browse the samples on GitHub</a><br/>
            <a  href="https://ibm.biz/streams-community"> Streams developer community</a><br/>
              <a  href="https://www.ibm.com/support/knowledgecenter/SSCRJU/SSCRJU_welcome.html"> Streams documentation</a>
        </td>  <td style="width: 50%; vertical-align: top"><h3>Contribute</h3>
                <a href="https://github.com/IBMStreams/samples/wiki/Adding-a-sample-to-the-catalog-and-repo"> How to add a new sample</a><br/>
                <a href="https://github.com/IBMStreams/"> Streams Github project</a><br/>
                <a  href="https://www.ibm.com/cloud/streaming-analytics">Streams product website</a><br/>
            </td>

    </tr>
      </table><br/>  <footer >
        <a href="" id="backtotop">Back to Top</a>
          <br/>
          Copyright © IBM 2020

</footer>
      </div>
    </div>
  </div>


</div> <!-- end /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="//cdn.jsdelivr.net/emojione/2.1.3/lib/js/emojione.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.min.js"></script>

<script src="./static/js/angular-spinners.min.js"></script>
<script src="./static/js/main.js"></script>
<script src="./static/js/analytics.js"></script>
<script src="./static/js/scripts.js"></script>





</body>
</html>
