<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>StreamsBridge</display-name>
  <servlet>
    <description>Mapping servlets</description>
    <display-name>LibertyStreamsProxy</display-name>
    <servlet-name>LibertyStreamsProxy</servlet-name>
    <servlet-class>com.ibm.streamsx.bridge.http.LibertyProxyServlet</servlet-class>
    <init-param>
      <param-name>proxyHost</param-name>
      <param-value>http://thisIsDisabledIfProxyDeriveisTrue:8080</param-value>
    </init-param>
    <init-param>
      <param-name>proxyDerive</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>proxyDebug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>log</param-name>
      <param-value>true</param-value>
    </init-param>
    <enabled>true</enabled>
    <async-supported>false</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibertyStreamsProxy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>