@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/bold/ibmplexsans-regular.eot?') format('eot'), url('../fonts/bold/ibmplexsans-regular.woff2') format('woff2'), url('../fonts/bold/ibmplexsans-regular.woff') format('woff'), url('../fonts/bold/ibmplexsans-regular.ttf') format('truetype');
  font-style: norma l;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/bold/ibmplexsans-bold.eot?') format('eot'), url('../fonts/bold/ibmplexsans-bold.woff2') format('woff2'), url('../fonts/bold/ibmplexsans-bold.woff') format('woff'), url('../fonts/bold/ibmplexsans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: 'IBM Plex Sans', Arial, sans-serif;
}

.header-container {
  padding: 0 2rem;
}


#bottomrow{
  margin-top: 50px;
}
.header-panel.shadow-z-2 {
  background-color: #002d9c;
  padding: 2px;
  width: 100%;
}

.header-row {
  display: flex;
  justify-content: space-between;
}

.full{
  font-size: 16px;
  padding: 0;
}

.logo-icon {
  width: 22px;
  height: 22px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.website_icon{
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
  background-image: url("./static/img/bluemix-logo-2016-feb.svg");
}


p.info {
  color: #fff;
}

p.info a {
  color: #fff;
  text-decoration: underline;
}

.full ul,.full ol {
  margin-left: 12px;
  background: #f6fbff;
  font-size: 13px;
  padding: 5px;
}

.full img{
  display: block;
  max-width: 100%;
  height: auto;
}

.social-icons {
  text-align: right;
}

.icon {
  text-align: center;
  line-height: 24px;
  font-size: 24px;
  color: white;
  display: inline-block;
  margin-right: 1rem;
}

body .container .jumbotron-primary, body .container .well-primary, body .container-fluid .jumbotron-primary, body .container-fluid .well-primary{
  background-color: #f5f7fa;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.icon:hover {
  background: rgba(124,199,255,0.2);
  color: #7cc7ff;
}

.menu ul li {
  list-style: none;
  margin: 5px 0;
}

.menu ul li a:hover, .menu ul li a:focus, li.current-menu-item > a{
  background: rgba(124,199,255,0.2);
}

li.current-menu-item:before {
  content: "";
  display: inline-block;
  height: 55px;
  width: 5px;
  position: absolute;
  left: 9px;
  vertical-align: middle;
  background: #7cc7ff;
}

.menu ul li a {
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 0 0 0 10px;
  color: #7cc7ff;
}


.project-link {
  background-color: transparent;
  text-decoration: none;
  float: right;
  margin-left: 2rem;
}

.card .card-image .card-image-headline-custom{
  position: absolute;
  margin-bottom: 0;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px 0 12px;
  color: #fff;
  font-size: 2em;
  background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 83%, rgba(0,0,0) 100%);
  background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 83%,rgba(0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0,0,0,0.9) 83%,rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.card .card-footer a {
  margin: 0 !important;
  position: relative;
  bottom: 25px;
  width: auto;
}

.filter-text {
  font-weight: 700;
  font-size: 12px;
}

#filters {
  margin: 0 0 25px 0;
}

.list-separator li > a i{
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
}

.error {
  color: #EF7272!important;
  font-size: 12px!important;
}

#portfolio-filter {
  margin-top: 50px;
}

.navbar-toggle i {
  color: #BCCCBF;
}
.menu .list-group-item-heading, .menu .list-group-item-text{
  color:#fff!important;
}
.aboutUsHome{
  text-align: center;
}
.aboutUsHome p{
  text-align: center;
}
 h1{
  text-align: center;
  color: white;
}
#AbountInfo div{

}


footer {
  border-top: 1px solid #C5C0C0;
  width: 100%;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 3em;
  padding-top: 10px;
  color: black;
  font-size: 14px;
  bottom: 0;
  padding-bottom: 10px;
  text-align: center;
  color: #223541;
}
.pager li.active a {
  background: rgba(89, 148, 129, 0.3);
}

.content.well {
  float: left;
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: -3rem;
  padding-left: 0;
  margin-bottom: 3rem;
}

.project-item {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}

@media (min-width: 600px) {
  .items-wrapper {
    margin-right: -2%;
  }

  .project-item {
    width: 48%;
    margin-right: 2%;
  }
}

@media (min-width: 970px) {
  .project-item {
    width: 31.33%;
    margin-right: 2%;
  }
}

@media (min-width: 1125px) {
  .items-wrapper {
    margin-right: -4%;
  }

  .project-item {
    width: 22%;
    margin-right: 2.6666%;
  }
}

.TotHome {
  text-align: left;
  width: 100%;
  padding: 2rem 2rem 2rem 3rem;
  color: #5A6872;
  font-size: 14px;
}

.search-body {
  width: 100%;
  margin-top: 1rem;
}

.search-body button {
  margin-bottom: 1rem;
}

.category.search-body button.tagFilter.btn.btn-sm {
  padding: 1px 10px;
  font-size: 12px;
  margin-right: 5px;
  border-bottom: none;
  border-radius: 10px;
  font-weight: normal;
  background: #525252;
  color: #ffffff;
}
.service-filter.search-body button.tagFilter.btn.btn-sm {
  padding: 1px 10px;
  font-size: 11px;
  margin-right: 5px;
  border-bottom: none;
  border-radius: 10px;
  font-weight: normal;
  color: #000;
  background-color: #cc6633;
}
.service-filter.search-body button.tagFilter.btn.btn-sm.active{
  background: #4c2613;
  color: #cc6633;
}

.type-filter.search-body button.tagFilter.btn.btn-sm.active{
  background: #4667b4;
  color: #fff;
}

.type-filter.search-body button.tagFilter.btn.btn-sm {
  padding: 1px 10px;
  font-size: 11px;
  margin-right: 5px;
  border-bottom: none;
  border-radius: 10px;
  font-weight: normal;
  color: #fff;
  background-color: #525252;
}
.category.search-body button.tagFilter.btn.btn-sm.active {
  background: #ff7eb6;
  color: #ffffff;
}

.language.search-body button.tagFilter.btn.btn-sm {
  padding: 1px 10px;
  font-size: 12px;
  margin-right: 5px;
  border-bottom: none;
  border-radius: 10px;
  font-weight: normal;
  background: #525252;
  color: #ffffff;
}

.language.search-body button.tagFilter.btn.btn-sm.active{
  background: #ff7eb6;
  color: #ffffff;
}

.project-content{
  font-size: 14px;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.75);
}

.project-content.description {
  display: inline-block;
  height: 100px;
  overflow: hidden;
}

.tag-filter {
  padding: 3px 5px 4px 5px;
  font-size: 12px;
  margin-bottom: 3px;
}

.tag-filter.language {
  background: #0f62fe;
  color: #ffffff;
}

.tag-filter.category {
  background: #525252;
  color: #ffffff;
}

.services {
  font-size: 14px;
}

.project-outer {
  border-top: 3px solid #8C9BA5;
  padding: 1.5rem;
  background-color: white;
  flex: 1
}

.tag-services {
  height: 30px;
}

a.btn.btn-info.btn-raised.btn-sm.project-link {
  background-color: #0f212e;
  color: rgba(255,255,255,.84);
  border: none;
  border-radius: 1px;
}

.FirSpanLeft {
  display: block;
  width: 25%;
  color: #162935;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.content.well {
  padding: 10px;
}

.tag-level {
  background-color: #EBF0F7;
  padding: 10px;
  border-top: 1px solid #DFE6EB;
}

.gitHubIcon {
  float: right;
}

.tag-technologies span {
  color: #94a3ab;
}

.tag-level span, .tag-level a {
  color: #00539a;

}

a.hrefLink {
  font-size: 14px;
}

.tag-holder {
  margin-bottom: 1.5rem;
}
.tag-holder span, .tag-holder a {
  color: #162935;
}

ul.list-separator.nav.navbar-nav.well.well-primary.default {
  width: 100%;
}

.error404 {
  color: #0043ce;
  margin-left: 30px;
}


.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #f5f7fa;
  border-radius: 3px 0 0 3px;
  color: #0f212e;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  margin-top: 5px;
  font-size:14px;
}

.tag::before {
  background: #0f212e;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #ffffff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #f5f7fa;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}

.tag:hover {
  background-color: #0043ce;
  color: white;
}

.tag:hover::after {
  border-left-color: #0043ce;
}
.tag::after:hover{
  border-left-color: #0043ce;
  border-left: 10px solid #0043ce;
}

.header-panel.shadow-z-2-banner{
  background: #0043ce;
  padding: 25px 0;
  position: relative;
  overflow: hidden;
}

.header-image {
  position: absolute;
  right: 0;
  top: -40px;
  width: 65%;
  display: none;
}

@media (min-width: 825px) {
  .header-image {
    display: block;
  }
}
@media (min-width: 990px) {
  .header-image {
    width: 60%;
  }
}
@media (min-width: 1250px) {
  .header-image {
    width: 50%;
  }
}

.header-panel.shadow-z-2-filter {
  background: #ffffff;
  border-bottom: 1px solid #DFE3E6;
}

.form-group
{
  padding: 10px;
  padding: 15px 0px;
}

.form-group .form-control {
  margin-bottom: 0;
}

.form-group input
{
  background: #ebf0f7;
  padding: 10px;
  color: gray;
  border-radius: 0px;
  border: 0;
  padding-left: 45px;
  height: 40px;
  font-size: 14px;

}

.filter-row {
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
}

.fil {
  flex: 1;
  margin-right: 2rem;
}

.search-input {
  margin-top: 0;
  font-size: 1rem;
  font-style: italic;
  color: #8C9BA5;
}

.search-input input {
  padding-left: 48px;
}

.search-input input.active {
  padding-left: 48px;
}
.search-input input:active {
  padding-left: 48px;
}

.filterButton {
  border: 2px solid #0043ce;
  height: 40px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;

  background: #FFF;
  color: #0043ce;
  text-decoration: none;
}

.filterButton:hover {
  cursor: pointer;
}

.filterButton:focus, .filterButton:hover, .filterButton.active {
  background-color: #0043ce;
  color: white;
  text-decoration: none;
}

.filterButton:hover polygon, .filterButton.active polygon {
  fill: white;
}

.filter-icon {
  margin: 0 1rem 0 3rem;
  width: 16px;
}

.filter-icon polygon {
  fill: #3D70B2;
}

.col-md-1.col-sm-4.col-xs-12.filter {
  padding-left: 0px;
}
.col-md-1.col-sm-4.col-xs-12.filter a:hover{
  text-decoration: none;
}

.filterButton a{
  height: 40px;
}

.filterButton span{
  line-height: 37px;
  padding-left: 10px;
  font-weight: 700;
}

.dropdown {
  background: white;
  padding: 1.5rem;
  border: 1px solid #0043ce;
  margin: 20px auto 0 auto;
  max-width: 1440px;
  display: none;
}

.dropdown::after {
  position: absolute;
  top: -0.4em;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-139deg);
  right: 3em;
  width: 0.9em;
  height: .73em;
  margin: 0 auto;
  content: '';
  background-color: inherit;
  border-bottom: 1px solid #0043ce;
  border-right: 1px solid #0043ce;
}

.language {
  margin-bottom: 1.5rem;
}

.inside.filter-category {
  flex-basis: 50%;
  margin-right: 3rem;
}

@media (min-width: 875px) {
  .language {
    margin-bottom: 0;
  }

  .dropdown {
    display: flex;
  }
}




#searchTextF {
  background: #ebf0f7 url(../icons/search.svg) left no-repeat;

}

.form-control{
  padding: 10px;
  color: gray;
  font-size: 14px;
  background: #ebf0f7;
  color: gray

}

.form-control:focus{
  padding: 10px;
  color: gray;
  font-size: 14px;
  background: #ebf0f7;
  padding-left: 40px;

}


.header-panel.shadow-z-2-banner h1{
  font-weight: lighter;
  font-weight: 200;
  color: white;

}

a#fliterButtonID:hover{
  text-decoration: none;
}


.link-title {
  color: #5184c3;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
}


@media (max-width: 768px) {
  .col-md-12.col-xs-12.footer {
    width: 100%;
  }
  #portfolio-filter {
    margin-top: 0px;
  }
  .col-md-1.col-sm-4.col-xs-12.filter{
    width: 30%;
  }
  .header-panel.shadow-z-2-banner h1{
    font-size: 25px;
  }
  .col-xs-12 {
    width: 70%;
  }
  .inside.col-md-6.col-xs-12 {
    width: 100%;
    margin-bottom: 15px;
  }
  .inside.col-md-12.col-xs-12.full {
    width: 100%;
  }
  .header01.col-md-3.col-sm-12.col-xs-12{
    width: 62%;

  }
  .header02.col-md-9.col-sm-12.col-xs-12{
    width: 38%;

  }

  .insde.col-md-12.col-sm-4.col-xs-12{
    width: 100%;
  }
  .ser.col-md-2.col-sm-4.col-xs-12.filter{
    width: 27%
  }

}
@media (min-width: 321px) and (max-width: 780px){
  ul.list-separator.nav.navbar-nav.well.well-primary.default {
    width: auto;
  }
  .ser.col-md-2.col-sm-4.col-xs-12.filter {
    width: 30%;
  }

}

@media (min-width: 781px) and (max-width: 1224px){
  .col-md-3 {
    width: 50%;
  }
  .header-panel.shadow-z-2-banner h1 {
    font-size: 25px;
  }
}
