//- head.jade
//- This file provides the HTML head part

head
  title Event Detection V2 Application for Streaming Analytics Service (For use with beta service plans only)
  meta(http-equiv="refresh", content="20")
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="stylesheet", href="/stylesheets/style.css")

